@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #191df7, #fff);
    font-size: 14px;
}

p{
    font-size: 12px;
}

h1{
    color: white;
}

h2{
    margin-bottom: 0;
}

img{
    width: 200px;
    margin-bottom: 50px;
}

.login-container{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

label{
    margin-bottom: 10px;
}

input{
    padding: 8px;
    margin-bottom: 10px;
    color: black;
    border: 1px solid #101010;
    border-radius: 5px;
}

button{
    background-color: rgb(63, 98, 254);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(18, 109, 236);
}

.noMostrar{
    display: none;
}